%head
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %script(src="/movies.js")

%body
  %h1 Hey lets go find some fun movies to watch.

  %form{action:"/"}
    Movie Title:
    %input{type:"text", name:"title", placeholder:"Avengers"}

    %br
    %input{type:"submit", value:"Submit"}


  - if @movies_array
    %h2 Movies
    - @movies_array.each do |movie|

      %table
        %tr
          %th
            %a{href: "#", onclick: "toggleDetails( '#{movie['Title']}' )" }
              = movie["Title"]
        %tbody.movie-details{id: movie["Title"]}
          %tr
            %td= movie["Year"]
          %tr
            %td= movie["imdbID"]
          %tr
            %td= movie["Type"]
          %tr
            %td
              %button{id: movie["imdbID"], onclick: "addToFavorites( '#{movie['Title']}', '#{movie['imdbID']}' )"}
                -if @favorite_ids.include? movie["imdbID"]
                  Added
                - else
                  Add to Favorites
          %tr
            %td
              %img{src: "#{movie["Poster"]}"}

  %h2 Favorites
  %button{onclick: "getFavorites()"} Show All
  %h3#favorites
