%html{:lang => "en"}
  %head
    / BASIC INFO
    %title Movie Finder

    / GOOGLE FONTS
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet"}

    / LIBRARIES CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}

    / SPECIFIC CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}
    %link{:href => "css/add-ons.css", :rel => "stylesheet"}

    / COLORS
    %link#color-css{:href => "css/colors/blue.css", :rel => "stylesheet"}

  %body.enable-animations
    #document.document

      / HERO
      %section#hero.hero-section.hero-layout-simple.hero-layout-fullscreen-subscription-form.hero-fullscreen.section.section-dark
        .section-background
          %ul.section-background-slideshow.parallax{"data-speed" => "10000", "data-stellar-ratio" => "0.4", "data-timeout" => "4000"}
            %li
              %img{:alt => "", :src => "images/backgrounds/manns.jpg", :style => "opacity: 0.1;"}/
            %li
              %img{:alt => "", :src => "images/backgrounds/wildey-smaller.jpg", :style => "opacity: 0.1;"}/
            %li
              %img{:alt => "", :src => "images/backgrounds/summerville.jpg", :style => "opacity: 0.1;"}/
            %li
              %img{:alt => "", :src => "images/backgrounds/chicago.jpg", :style => "opacity: 0.1;"}/
        .container
          .hero-content
            .hero-content-inner
              .row
                .col-md-10.col-md-offset-1
                  .hero-heading.text-center{"data-animation" => "fadeIn"}
                    %h1.hero-title#hero-title Search For a Movie
                  .row
                    .col-md-10z.col-md-offset-1

                      / SEARCH FORM
                      %form{:action => "/styled"}
                        .form-group.subscription-form-wrapper
                          %span.subscription-form-input
                            %input.subscribe-form-email.subscribe-form-email.form-control.form-control-lg{:type => "text", :name => "title", :placeholder => "Movie Title" }
                          %span.subscription-form-submit
                            %input.btn.btn-primary.btn-lg#search-button{type: "submit", value: "Search"}

        / HERO START LINK
        %a.hero-start-link.anchor-link#down-arrow{:href => "#headline"}
          %span.fa.fa-angle-double-down
      /
      / HEADLINE
      / \=================================
      %section#headline.headline-section.section-gray.section
        .container
          %h2.section-heading.text-center.hidden Tagline
          .row
            .col-md-10.col-md-offset-1
              - if @movies_array
                #found-movies
                  %table.table.table-hover
                    %tbody
                      -# Loop through all found movies and display
                      - @movies_array.each do |movie|
                        %tr
                          %td
                            -# Check to see if we've already favorited a movie
                            -if @favorite_ids.include? movie["imdbID"]
                              %button{class: "btn btn-primary", id: movie["imdbID"], style: "color: blue", onclick: "addToFavorites( '#{movie['Title']}', '#{movie['imdbID']}' )"}
                                Added
                            - else
                              %button{class: "btn btn-default", id: movie["imdbID"], onclick: "addToFavorites( '#{movie['Title']}', '#{movie['imdbID']}' )"}
                                Favorite

                          %td
                            %a{onclick: "toggleDetails( 'details-#{movie['imdbID']}' )" }
                              = movie["Title"]

                          %td.movie-details{id: "details-" + movie["imdbID"]}
                            = "#{movie['Year']} | #{movie['imdbID']} | #{movie["Type"]}"
                            -unless movie["Poster"] == "N/A"
                              |
                              %img{src: "#{movie["Poster"]}", style: "height: 100px"}


        %section#about.about-section.section
          .container
            %h1 Favorite Movies
            -# All buttons call javascript methods. Generally they are making AJAX calls to get data
            %button{onclick: "showFavorites()", class: "btn btn-success"} Show All
            %button{onclick: "hideFavorites()", class: "btn btn-warning"} Hide All
            %button{onclick: "deleteFavorites()", class: "btn btn-danger"} Delete All

            %h3
              -# Initially empty, but javascript methods add movies to this ID
              #favorites
        -# CLOSING
        -# \=================================
      %section#closing.closing-section.section-dark.section
        .section-background
          / IMAGE BACKGROUND
          .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
            %img{:alt => "", :src => "images/backgrounds/chairs.jpg", :style => "opacity: 0.5;"}
        .container
          %h3.closing-shout Wanna Search For More Movies?
          .closing-buttons
            %a.anchor-link.btn.btn-lg.btn-primary{:href => "#hero"} Take Me Back To The Top

    /
      LIBRARIES JS
      \=================================
    %script{:src => "js/jquery-1.11.2.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    -# %script{:src => "js/respimage.min.js"}
    %script{:src => "js/smoothscroll.min.js"}
    %script{:src => "js/jquery.nav.min.js"}
    %script{:src => "js/jquery.inview.min.js"}
    %script{:src => "js/jquery.stellar.min.js"}
    %script{:src => "js/responsiveslides.min.js"}
    /
      MAIN SCRIPT
      \=================================
    %script{:src => "js/script.js"}
    %script{:src => "js/moviesstyled.js"}
