%head
  -# Links to CSS Stylesheets and Javascript
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/add-ons.css"}
  %script(src="/js/movies.js")

%body
  %h1 Movie Search

  -# Search Form
  %form{action:"/"}
    %label{for: "movie-title"} Movie Title:
    %input{type:"text", id: "movie-title", name:"title", placeholder:"Avengers"}
    %input{type:"submit", value:"Submit"}

  - if @movies_array
    %hr
    %h1 Movies Found

    -# Loop through all found movies and display
    - @movies_array.each do |movie|
      %table
        %thead
        %tr
          %th
            %a{href: "#", onclick: "toggleDetails( '#{movie['Title']}' )" }
              = movie["Title"]
          %th
            -# Check to see if we've already favorited a movie
            -if @favorite_ids.include? movie["imdbID"]
              %button{id: movie["imdbID"], style: "color: blue", onclick: "addToFavorites( '#{movie['Title']}', '#{movie['imdbID']}' )"}
                Added
            - else
              %button{id: movie["imdbID"], onclick: "addToFavorites( '#{movie['Title']}', '#{movie['imdbID']}' )"}
                Add to Favorites

        -# Movie Details - Initially hidden in CSS by .movie-details class
        %tbody.movie-details{id: movie["Title"]}
          %tr
            %td Year Released:
            %td= movie["Year"]
          %tr
            %td IMDB ID:
            %td= movie["imdbID"]
          %tr
            %td Type:
            %td= movie["Type"]
          %tr

          %tr
            %td
              -# Check to see if OMDB supplied us with a poster image
              -if movie["Poster"] == "N/A"
                %img{src: "http://www.fillmurray.com/200/301", height: 300}
              -else
                %img{src: "#{movie["Poster"]}", height: 300}

  %hr
  %h1 Favorite Movies
  -# All buttons call javascript methods. Generally they are making AJAX calls to get data
  %button{onclick: "showFavorites()"} Show All
  %button{onclick: "hideFavorites()"} Hide All
  %button{onclick: "deleteFavorites()"} Delete All

  %h3
    -# Initially empty, but javascript methods add movies to this ID
    #favorites
